{% extends "base.html" %}
{% block content %}
<div class='row'>
	<div class='col-sm-8'>
		<h2>{{ object.title }}</h2>
		{% if object.productimage_set.count > 0 %}
		<div>
			{% for img in object.productimage_set.all %}
			<!--{{ img.image }}<br/>
			{{ img.image.url }}<br/>
			{{ img.image.file }}<br/>-->
			
			<img class='img-responsive' src='{{ img.image.url }}'/>
			{% endfor %}
		</div>
		{% endif %}	
		<p class='lead'>
			{{ object.description }}
		</p>
	</div>
	<div class='col-sm-4'>
		<h3> {{ object.price }}</h3>
		{% if object.variation_set.count > 1 %}
		<select class='form-control'>
		{% for variation in object.variation_set.all %}
			<option value="{{ variation.id }}">{{ variation }}</option>
		{% endfor %}
		</select>
		{% endif %}
		<br/>
		<a href="#">Add to Cart</a>
		<br/>
		<br/>
		<h4>Related Products</h4>
	</div>	
</div>
{% endblock %}